 body {
        font-family:Verdana, Geneva, sans-serif;
		alignment-adjust:auto;
		color:#F93
		
        
      }
	  
	  
      canvas {
        border: 1px solid hsl(0,10%,90%);
        width: 450px;
        height: 200px;
	  }