@charset "utf-8";
/* CSS Document */
body{
			font-family: 'Ruslan Display', cursive;
			display: flex;
    		align-items: center;
			justify-content: center;
			position: fixed;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background-color: #CCC;
		}
		
		
			
		#canvas{
			border: 10px solid hsl(0,20%,90%);
			background-color:#CCC;
			width: 30%;
			height: 50%;
			align-items: center;
		}
		.container {
			text-align: center;
			width: 600px;
			padding: 30px;
			margin: 50px;
		}
		a {
			text-decoration:none;
		}

		.button {
			display: inline-block;
			background:#666;
			color:#CCC;
			margin: 30px;
			padding:40px 47x;
			width:105px;
			
			
	    }
		.button:hover{
			color:#000;
			transform:rotate(60deg);
		}
		
		

