@charset "utf-8";
/* CSS Document */
	body{
		background:url(back.jpg);
	
		font-family: 'Delius Unicase', cursive;
	}
	p1{
		font-size:36px;
		margin-left:140px;
		margin-top:160px;
		position:fixed;
		
	}
	#button1{
		background:url(22222.PNG);
		width:80px;
		height:100px;
		margin-left:620px;
		margin-top:575px;
		position:fixed;
		border:none;
		
	}
	#button1:hover{
		transform:scale(1.2,1.2)
		
	}
	
	#button2{
		background:url(Capture.PNG);
		width:70px;
		height:100px;
		margin-left:612px;
		margin-top:440px;
		position:fixed;
		border:none;
		color:#FFF;
		
	}
	#button2:hover{
		transform:scale(1.2,1.2)
		
	}
	#button3{
		background:url(Capture11.PNG);
		width:80px;
		height:80px;
		margin-left:502px;
		margin-top:610px;
		position:fixed;
		border:none;
		color:#FF0;
		
	}
	#button3:hover{
		transform:scale(1.2,1.2)
		
	}
	p2{
		font-size:16px;
		margin-left:755px;
		margin-top:575px;
		position:fixed;
		color:#F00;
		
	}
	input{
		font-family: 'Delius Unicase', cursive;
	}

